<%- include("./partials/header")%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1> We find movies for you to watch.</h1>
 
 <h2 style="color: darkred;">Designed by:</h2>
 <div>
     <div class="card  my-4" style="width: 18rem;">
    <img class="card-img-top" src="https://lh3.googleusercontent.com/8ysaGDXRr20yrhDkjvzqi5h8Ld7h-KdId8rtpOqZIH4UMfCFW2Hb8BSmVSm6bASxSTF54lDjUD1OPMW5B2N_yZHS_QtvbLMqTk--TeCkQ0SOh7eyRHqckxO-AbjdkjKpjd58TkNGs1h6Pv0AhwXpChB3UYEsOWxWe_mi3lAk9oIxIa3HWFat4VUZxqyMJ_WPEqxW8VHofEAgaY-3XmNWbTd32xNJQIqMq3kJ5nq45NI3NzWU3ovOIwHO5khI1daKLsYUtqifiwh4KH5whInHEeCooCqZMWkA5fmIXyB12tmLmA1hif6vWpghPy6PHc81bIuaAom22bXQOoQB7yWiFUZtjw_aRaLiM3fOb2X5yAFVp9mj6-5g67c2aIkNdQeSc_puvWC7eJr147UNZJwFGzLy9VveJKs2-mjJgMZeFWkfKPN6Y2VL6QGuLXxXPF0d1ZMY-B2sOgDu4faOs0yh6QAU2k5BWBJLT6ic514u2L0yrFvu9cf5DFpuBAMJ6YhkILh-zHrUtneSfBWbsfYDauzUlyS7-IcgAgoiCNmuCHzLUe5Iu9G-mCGxAqiI5s-H0bvj_4e9k4dWx88aHIS9ZEN55IAhUDZSu_OdkJ1d7YHhjD8cTuPJ_Hs1fluSfhw_aR_cAzwHuK2aXz79RcEB8K9fnumj6caKzHfp80znnrXwGIcj-_HDiO7VJrKeLLu3LfN3kSy2f0HhCBislb8Qk0Y=w617-h782-no?authuser=0" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Siddharth Damor</h5>
      <p class="card-text">A student of  Sardar Vallabhbhai National Institute of Technology</p>
    </div>
  </div>
</div>
</body>
</html>